@font-face {
    font-family: 'HankenGrotesk';
    src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

:root
{
    --clr-primary-800: hsl(234, 85%, 45%);
    --clr-primary-700: hsl(166, 100%, 37%);
    --clr-primary-600: hsl(39, 100%, 56%);
    --clr-primary-500: hsl(0, 100%, 67%);

    --clr-gradients-800: hsla(241, 72%, 46%, 0);
    --clr-gradients-700: hsl(241, 81%, 54%);
    --clr-gradients-600: hsla(256, 72%, 46%, 1);
    --clr-gradients-500: hsl(252, 100%, 67%);

    --clr-neutral-800: hsl(224, 30%, 27%);
    --clr-neutral-700:  hsl(241, 100%, 89%);
    --clr-neutral-600: hsl(221, 100%, 96%);
    --clr-neutral-500: hsl(0, 0%, 100%);

    --fs-400: 18px;

    --ff-hanken-grotesk: 'HankenGrotesk', sans-serif;

    --fw-800: 800;
    --fw-700: 700;
    --fw-500: 500;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*
{
    margin: 0;
    padding: 0;
    font-family: var(--ff-hanken-grotesk);
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* ==== CSS UTILITIES ==== */

.txt-primary-800 { color:var(--clr-primary-800);}
.txt-primary-700 { color:var(--clr-primary-700);}
.txt-primary-600 { color:var(--clr-primary-600);}
.txt-primary-500 { color:var(--clr-primary-500);}

.txt-gradient-800 { color:var(--clr-gradients-800);}
.txt-gradient-700 { color:var(--clr-gradients-700);}
.txt-gradient-600 { color:var(--clr-gradients-600);}
.txt-gradient-500 { color:var(--clr-gradients-500);}

.txt-neutral-800 { color:var(--clr-neutral-800);}
.txt-neutral-700 { color:var(--clr-neutral-700);}
.txt-neutral-600 { color:var(--clr-neutral-600);}
.txt-neutral-500 { color:var(--clr-neutral-500);}

.bg-primary-800 { background-color:var(--clr-primary-800);}
.bg-primary-700 { background-color:var(--clr-primary-700);}
.bg-primary-600 { background-color:var(--clr-primary-600);}
.bg-primary-500 { background-color:var(--clr-primary-500);}

.bg-gradient-800 { background-color:var(--clr-gradients-800);}
.bg-gradient-700 { background-color:var(--clr-gradients-700);}
.bg-gradient-600 { background-color:var(--clr-gradients-600);}
.bg-gradient-500 { background-color:var(--clr-gradients-500);}

.bg-neutral-800 { background-color:var(--clr-neutral-800);}
.bg-neutral-700 { background-color:var(--clr-neutral-700);}
.bg-neutral-600 { background-color:var(--clr-neutral-600);}
.bg-neutral-500 { background-color:var(--clr-neutral-500);}


.fw-800 { font-size:var(--fw-800);}
.fw-700 { font-size:var(--fw-700);}
.fw-500 { font-size:var(--fw-500);}

/* ==== CSS STYLING ==== */

body
{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    --br-summary: 2rem;
    font-size: var(--fs-400);
}

.box
{
    display: flex;
    height: 50vh;
    width: 750px;
    box-shadow: 20px 20px 10px rgba(0,0,0,0.2);
    border-radius: var(--br-summary);
}

.col-box
{
    height: 50vh;
    width: 375px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-radius: var(--br-summary);
}

.col
{
    margin-block: 1rem;
    color: var(--clr-neutral-500);
}

.col-box .col:nth-of-type(2) {
    padding: 3rem;
    background-color: var(--clr-primary-800);
    border-radius: 600px;
    height: 12rem;
    width: 12rem;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5) inset;
}

.col-box .col:nth-of-type(2) h1
{
    font-size: 4rem;
}

.col-box .col:nth-of-type(3) h2
{
    margin-bottom: 1rem;
}

.col-box2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 375px;
    padding: 1rem 4rem;
}

.col-box2 h1
{
    justify-content: flex-start;
}

.col-box2 .col
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
}

.col-box2 .col:nth-of-type(1)
{
}


.col-box2 .col > .inner-col
{
    display: flex;
}

.button
{
    display: flex;
    justify-content: center;
}

.button button
{
    border-radius: var(--br-summary);
    background-color: var(--clr-neutral-800);
    padding: 1rem 5rem;
    color: var(--clr-neutral-500);
    border: none;
    cursor: pointer;
}
